<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1ca0f4;">
  <a class="navbar-brand" href="#">Mechref Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" #nav_home routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Patient
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/booking">Booking</a>
          <a class="dropdown-item" href="/consultation">Consultation</a>
          <a class="dropdown-item" href="/lab-results">Lab Results</a>
          <a class="dropdown-item" href="/online_chat">Online Chat</a>
          <a class="dropdown-item" href="/sign-up">Sign Up</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>




<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #1ca0f4; margin-top: 2%;">

  <div class="margin-container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Mechref Hospital</h5>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a class="footer" href="/">Main</a>
            </li>

            <li>
              <a class="footer" href="/departments">Departments</a>
            </li>
            <li>
              <a class="footer" href="/staff">Staff</a>
            </li>
            <li>
              <a class="footer" href="/contact-us">Contact Us</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Patient Section</h5>

          <ul class="list-unstyled">
            <li>
              <a class="footer" href="/Booking">Book An Appointment</a>
            </li>
            <li>
              <a class="footer" href="/consultation">Consultation</a>
            </li>
            <li>
              <a class="footer" href="/medications_prescribed">Medications Prescribed</a>
            </li>
            <li>
              <a class="footer" href="/online_chat">Online Chat</a>
            </li>
            <li>
              <a class="footer" href="/lab_results">Lab Results</a>
            </li>
            <li>
              <a class="footer" href="/sign-up">Sign Up</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://moodle.rhu.edu.lb">COSC 333 - Web Programming</a>
    </div>
    <!-- Copyright -->
  </div>

</footer>
<!-- Footer -->