<div class="container-services">
    <div class="margin-container">
        <div class="row">
            <div class="column">
                <a href="/booking"> <img src="assets/IMG/booking.svg" width="50%" alt="booking-icon"></a>
                <input class="favorite styled" type="button" value="Add to favorites">

            </div>

            <div class="column">
                <a href="/booking"> <img src="assets/IMG/operator.svg" width="50%" alt="booking-icon"></a>
                <input class="favorite styled" type="button" value="Add to favorites">


            </div>

            <div class="column">
                <a href="/booking"> <img src="assets/IMG/medical-file.svg" width="50%" alt="booking-icon"></a>
                <input class="favorite styled" type="button" value="Add to favorites">


            </div>
        </div>
    </div>
</div>