<div class="container-services">
    <div class="margin-container">
        <div class="row">
            <div class="column">
                <a href="/booking"> <img src="assets/IMG/booking.svg" width="50%" alt="booking-icon"></a>
                <br>
                <input class="favorite styled" type="button" value="Book an Appointment">

            </div>

            <div class="column">
                <a href="/operator"> <img src="assets/IMG/operator.svg" width="50%" alt="Helpdesk-icon"></a>
                <br>
                <input class="favorite styled" type="button" value="Contact our Helpdesk">


            </div>

            <div class="column">
                <a href="/medical-file"> <img src="assets/IMG/medical-file.svg" width="50%" alt="medical-file-icon"></a>
                <br>
                <input class="favorite styled" type="button" value="Check your Medical File">


            </div>
        </div>
    </div>
</div>