<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Dr. Jay M. Lipoff is a longstanding professional colleague that I have known for over 15
                                years. Dr. Lipoff and I have had hundreds of patients over the years and I consider him
                                actually to be one of the finest clinicians That I have ever had the... <a href="">Read
                                    More</a>
                            </p>
                        </div>
                        <h3 class="title">Scott Gingold</h3>
                        <span class="post">MD – CNY Medical Center</span>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                I have learned a great deal from Dr Post about the management of patients with anterior
                                knee pain and/or patellar instability. I have never seen a more thoughtful and organized
                                physician who considers each patient as an individual...<a href="">Read
                                    More</a>
                            </p>
                        </div>
                        <h3 class="title">Jack Andrish</h3>
                        <span class="post"> M.D. <br> Professor of Orthopaedic Surgery
                            <br>Cleveland Clinic, Cleveland Ohio
                        </span>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                I have known Dr. Post for about 25 years and have found him to be one of the most
                                ethical, careful and knowledgeable orthopedic surgeons I have known in that time. He is
                                a scholar who wants to learn at the cutting edge...<a href="">Read
                                    More</a>
                            </p>
                        </div>
                        <h3 class="title">John Fulkerson</h3>
                        <span class="post">M.D. <br>
                            Orthopedic Associates of Hartford <br> P.C.
                            Clinical Professor <br> University of Connecticut School of Medicine
                            President<br>The Patellofemoral Foundation
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>