.margin-container {
  margin-top: 2%;
  margin-left: 25%;
  width: 75%;

}

.contact {
  background-color: #1ca0f4;
  width: 75%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3% 0;

}

label {
  font-size: 20px;
  width: 10%;
}

input,
textarea {
  color: white;
  background-color: transparent;
  border-bottom: 2px solid black;
  width: 100%;
}

input[type="text"] {
  width: 85%;
  float: right;
}

input:focus {
  border-color: white;
  background-color: transparent;
}

input[type="submit"] {
  color: black;
  margin-top: 20px;
  background-color: grey;
  padding: 1%;
  border-radius: 10px;
}

form {
  width: 50%;
  margin-left: 25%;
}




select {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-top: 10px;

}


select:active,
:focus {
  outline: none;
}

input[type="datetime-local"] {
  margin-top: 30px;
}

input[type="text"]::placeholder {
  color: transparent;
}

@media screen and (max-width: 600px) {
  input[type="submit"] {
    padding: 2%;
  }

  input[type="text"] {
    width: 100%;
  }

  input[type="text"]::placeholder {
    color: white;
    opacity: 0.5;
  }

  select {
    margin-top: 30px;
  }

  form {
    width: 90%;
    margin-left: 2%;

  }

  label {
    display: none;
  }

  .margin-container {
    margin: 0 !important;
    width: 100%;
  }

  .margin-container>h1 {
    margin: 0px 5px;
    text-align: center;
  }

  .margin-container h3 {
    margin: 0px 5px;
    text-align: center;
  }

  .margin-container p {
    margin: 0px 5px;
    text-align: center;
  }

  .margin-container h5 {
    margin: 0px 5px;
    text-align: center;
  }

  .contact {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}
