<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Vision</h2>
                <ul class="listing">
                    <li>To be recognized by residents, employers and leaders of its served area as the preferred
                        provider
                        of health care services.</li>
                    <li>To be regarded as a model hospital, providing excellent primary, secondary and tertiary care
                        services and integrating its programs with those of other health care organizations.</li>
                    <li>To promote the best possible care at the lowest possible cost.</li>
                    <li>To continuously strive to improve high quality inpatient, outpatient, emergency and long-term
                        care
                        services, and will seek to develop new ones in accordance with the community needs.</li>
                </ul>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Vision</h2>
                <ul class="listing">
                    <li>To be recognized by residents, employers and leaders of its served area as the preferred
                        provider
                        of health care services.</li>
                    <li>To be regarded as a model hospital, providing excellent primary, secondary and tertiary care
                        services and integrating its programs with those of other health care organizations.</li>
                    <li>To promote the best possible care at the lowest possible cost.</li>
                    <li>To continuously strive to improve high quality inpatient, outpatient, emergency and long-term
                        care
                        services, and will seek to develop new ones in accordance with the community needs.</li>
                </ul>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Vision</h2>
                <ul class="listing">
                    <li>To be recognized by residents, employers and leaders of its served area as the preferred
                        provider
                        of health care services.</li>
                    <li>To be regarded as a model hospital, providing excellent primary, secondary and tertiary care
                        services and integrating its programs with those of other health care organizations.</li>
                    <li>To promote the best possible care at the lowest possible cost.</li>
                    <li>To continuously strive to improve high quality inpatient, outpatient, emergency and long-term
                        care
                        services, and will seek to develop new ones in accordance with the community needs.</li>
                </ul>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>